#translator_alert{
  position: fixed;
  display: none;
  width: auto;
  height: auto;
  min-width: 100px;
  max-width: 384px;
  left: 40%;
  top: 100px;
  padding: 5px 10px 10px 15px;
  text-align: left;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 99;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 22px;
  animation: translator_alert_fain .2s ease;
}

#change_button{
    position: relative;
    left: 50%;
    margin-left: -25px;
    width: auto;
    height: auto;
    font-size: 7px;
    display: block;
}

#translateText{
  position: relative;
  width: auto;
  height: auto;
  display: block;
}
#btnMore{
  float: right;
  font-size: 12px;
  cursor: pointer;
}
#transWords{
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}
#yinbiaoEng{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}
#yinbiaoUsa{
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
}

#none_span,#translate_P{
  display: inline;
  margin: 0px;
}

#provide_alert{
  position: absolute;
  width: 300px;
  height: 200px;
  max-width: 384px;
  left: 50%;
  top: 0;
  margin-left: -150px;
  /* margin-top: 100px; */
  padding: 16px 24px 10px 24px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 99999;
  font-size: 20px;
}

@keyframes translator_alert_fain{
    from{
        transform: scale(.8,.8)
    }
    to{
        transform: scale(1,1)
    }
}
